body {
    margin: 0;
    background: url(fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}


header {
    background-color: #00FF7F;
    border-bottom: solid;
    border-bottom-color: black;
}
ul {
    list-style-position: inside;
    max-width: 90%;
    max-height: 90%;
}
.block {
    background-color: #00FF7F;
    border: solid;
    border-color: #FFFF00;
}
.logotip{
    border-radius:100%;
}

.navtel {
    background-color: #00FF7F;
    border: solid;
    border-color: black;
    order: 2;
}

.nasvan{
    font-size: 2rem;
    text-decoration: none;
}

.navhref{
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}
table {
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    height: 90%;
    border: solid;
    border-color: black;
    order: 3;
    
}
form {
    display: flex;
    align-items: center;
    order: 5;
   
}
  
form > * {
    display: block;
    margin-bottom: 10px;
}


footer {
    background-color: #3CB371;
}

@media screen and (min-width: 1024px) {

    .navtel{
        flex-direction: row !important;
        justify-items: center;
        position: absolute;
        top: 0px;
        right: 0px;
    }
}
tr:nth-child(odd) {
    background-color: #FFA07A;
}

tr:nth-child(even) {
    background-color: #AFEEEE;
}
