body {
    margin: 0;
    background: url(fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

header {
    display: flex;
    flex-direction: row;
    background-color: #3CB371;
    order: 1;
}

.block{
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .block> * {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 20px;
        align-items: center;
        background-color: #90EE90;
        border: solid;
        border-color: yellow;
        width:80%;
    }

.logotip {
    border-radius: 100px;
    width: 100px;
    height: 100px;
    margin-top: 0px;
    margin-inline: 20px;
    margin-block: 20px;
    float: left;
}

.navtel{
    display: flex;
    flex-direction: row;
    order: 1;
    align-items: center;
    
}
.navdesk {
    display: none;
}

.nasvan{
    display: flex;
    flex-direction: row;
    flex:1;
    order: 2;
    margin-top: auto;
    margin-bottom: auto;
    margin-left:20%;
    font-size: 40px;
    
    text-decoration: none;
}

.navhref{
    text-decoration: none;
    font-size: 46px;
    margin-left: 5%;
    width:33%;
   
}

.ssul {
    order:3;
}

.tabbl {
    flex: none;
    order:4;
}

table {
    margin-top: 40px;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 40px;
    width: 90%;
    height: 280px;
    border: solid;
    border-color: #1E90FF;
    border-spacing: 0px;
}

label {
    margin-left: auto;
    margin-right: auto;
}

form {
    order: 5;
    border: solid;
    background-color: #90EE90;
    
}

@media screen and (min-width: 800px) {

    body {
        margin: 0;
        background: url(fon.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    header {
        display: flex;
        flex-direction: row;
        background-color: #00FF7F;
        order: 1;
        border-bottom: solid;
        border-bottom-color: black;
        margin-bottom: 20px;
        height: 100px;
    }

    .block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

        .block > * {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            margin-bottom: 20px;
            align-items: center;
            background-color: #00FF7F;
            border: solid;
            border-color: #FFFF00;
            max-width: 960px;
            min-width: 960px;
        }

    .logotip {
        display: flex;
        margin: 10px;
        order: 1;
        flex-direction: row;
        flex: none;
        border-radius: 50%;
        width: 130px;
        height: 130px;
        align-self: center;
    }

    .navdesk {
        display: flex;
        flex: 3;
        flex-direction: row;
        border: solid;
        border-color: black;
        vertical-align: middle;
        order: 3;
        margin-left:25%;
        max-height: 60px;
        max-width: 800px;
    }
    .navtel {
        display: none;
    }

    .nasvan {
        display: flex;
        flex-direction: row;
        margin-top: 26px;
        margin-left:120px;
        flex: none;
        order: 2;
        font-size: 40px;
        text-decoration: none;
    }

    .navhref {
        display: flex;
        flex: auto;
        margin-left: 70px;
        margin-top: 0;
        text-decoration: none;
        font-size: 46px;

    }

    .ssul {
        order: 3;
    }

    .tabble {
        flex: none;
        order: 4;
    }
    table {
        margin-top: 40px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 40px;
        width: 780px;
        height: 280px;
        border: solid;
        border-color: black;
    }

    form {
        order: 5;
        border: solid;
        background-color: #264d8f;
    }
}
     footer {
        flex: 1;
        order: 6;
        background-color: #3CB371;
        padding-left: 70px;
        padding-block: 40px;
    }
    tr:nth-child(odd) {
        background-color: #FFA07A;  
    }

    tr:nth-child(even) {
        background-color: #AFEEEE;      
    }
.h11 {
    font-size: 2em;
}
