.zel{
background: #2E8B57;
}
.ser
{
width:960px; 
background-color:#ccc; 
margin: 0 auto; margin-top:20px; padding:10px;
}
#fonsa{
  background: url(fon.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
}


